# dependencies
node_modules/
frontend/node_modules/
backend/venv/
venv/

# environment files
.env
.env.local
.env.*
*.env

# build files
.next/
dist/
__pycache__/
*.pyc

# system files
.DS_Store
Thumbs.db