# dependencies
node_modules/
frontend/node_modules/
backend/venv/
venv/

# environment files
.env
.env.local
.env.*
*.env
# Allow the example env file
!.env.example
!backend/.env.example
!frontend/.env.example


# build files
.next/
dist/
__pycache__/
*.pyc

# system files
.DS_Store
Thumbs.db